*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: none;
}

.form-container{
    
    margin-top: 10px;
    padding: 20px;
    width: 400px;
    background-color: aqua;
    border-radius: 10px;
}

.form-group{
    display: flex;
    flex-direction: column;
    padding: 10px;
   
}

.form-group input{
    padding: 10px;
    border: 2px solid black;
   
}

.button{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;

}
.form-group-1{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.file{
    padding: 10px;
}
.button{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}