*{
    margin:0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    justify-content: top baseline;
    background-image: url(images/login_bg.jpg);
}
.container{
    background-color: white;
    width: max-content;
    height: max-content;
    padding: 100px;
    margin: 90px;
    height: 400px;
    border: 2px solid royalblue;
    border-radius: 20%;
    
}
.form_container{
    padding: 20px;
    width: max-content;


}
.form_Group{
    padding:10px;
    margin: 10px;

}
button{
    padding: 10px;
    border-radius: 20px;
    margin-left: 90px;
    
}
.form_Group input{
    border:none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid black;
    padding: 10px;
    margin: 7px;
}

input:focus{
    border-width: 2px;
    border-bottom-color: red;
}
.link-g{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    cursor: pointer;
}
.fa-brands{
    width: max-content;
    padding: 10px;
    border: 2px solid black;
}