*{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-transform: capitalizex;
}
.box_model{
    background-color: aqua;
    width: max-content;
    padding: 40px;
    margin: 40px;
    border: 4px solid black;
    border-radius: 20px;
}
.main_box{
    display: flex;
    justify-content: center;
    
}
.box_model img{
    border-radius: 20px;
}
button{
    background-color: lightcoral;
    font-weight: bold;
    padding: 4px;
    border-radius: 20px;
}